alembic
altgraph
colorlog
contourpy
cycler
fonttools
importlib-metadata
importlib-resources
joblib
kiwisolver
macholib
mako
markupsafe
matplotlib
numpy
optuna
packaging
pandas
patsy
pillow
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyside6
pyside6-addons
pyside6-essentials
python-dateutil
pytz
pyyaml
rdkit
scikit-learn
scipy
setuptools
shiboken6
six
sqlalchemy
statsmodels
threadpoolctl
tqdm
typing-extensions
tzdata
zipp
